.space {
  clear: both;
  width: 100%;
  padding: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.image {
  background-color: #F47398;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.gallery {
  margin: 10px;
  border: 1px solid blue;
  float: right;
  width: 50%;
}

.gallery: none {
  border: 2px solid #775;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* unvisited link */

a:link {
  color: red;
}

/* visited link */

a:visited {
  color: green;
}

/* mouse over link */

a:hover {
  color: hotpink;
}

/* selected link */

a:active {
  color: blue
}

.header-background {
  background-image: url('../img/Untitled design.png');
  background-size: 100% 112%;
    background-repeat: no-repeat;
}