 {{template "header"}}

<bodY class="container">
  <div id="atf">
    <main>
      <center>
        <h1 class="box-l primary vh-l"></h1>

        <h2 class="primary box vh-l">lOGGER!</h2>

        <div class="grid">
          <div class="grid-item w-1-1">
            <!--<a class="box-s btn w-1-4 vh-m" href="/engine">Engine Parts<br><i class="icons fas fa-car"></i></a>-->
            <!--<a class="box-s btn w-1-4 vh-m" href="/eletrical">Eletrical Parts<br><i class="icons fas fa-car"></i></a>-->
            <!--<a class="box-s btn w-1-4 vh-m" href="/transmission">Transmission Parts<br><i class="icons fas fa-car"></i></a>-->
            <div class="box-s btn w-1-4 vh-s search">Method: {{.M}}<br><i class="fas fa-arrows-alt-h"></i></div>
     
            <section class="tables">
              <header class="rows">
                <div class="cells">Method</div>
                <div  class="cells">url</div>
                <div  class="cells">PROTO </div>
                <div  class="cells">BODY </div>
                <div  class="cells">GB </div>
                <div  class="cells">HOST </div>
                <div  class="cells">FORM </div>
                <div  class="cells">CANCEL </div>
                <div  class="cells">RESPONSE </div>
                <div  class="cells">HEADER </div>
              </header>
              <div class="rows">
                <div  class="cells"> {{.M}}</div>
                <div  class="cells"> {{.U}}</div>
                <div  class="cells">{{.B}}</div>
                <div  class="cells">{{.Gb}}</div>
                <div  class="cells">{{.H}}</div>
                <div  class="cells">{{.Form}}</div>
                <div  class="cells">{{.Cancel}}</div>
                <div  class="cells">{{.R}}</div>
                <div  class="cells"></div>
              </div>
            </section>
            
            
            
            
            <style>
              .rows{
                display: table-row;
                    border: 1px solid black;
                padding: 1%;
              }
              .tables{
                display: table;
                  border: 1px solid black;
                padding: 1%;
              }
              .cells{
                display: table-cell;
                  border: 1px solid black;
                padding: 1.3%;
              }
            </style>

          </div>
        </div>
        <div class="tagName fl-l w-1-1"></div>

      </center>
    </main>
  </div>

</bodY>

{{template "footer"}}