 {{template "header"}}

<bodY class="container">
  <div id="atf">
    <main>
      <center>
        <h1 class="box-l primary vh-l"></h1>

        <h2 class="primary box vh-l">Please have a look at my parts.</h2>

        <div class="grid">
          <div class="grid-item w-1-1">
            <!--<a class="box-s btn w-1-4 vh-m" href="/engine">Engine Parts<br><i class="icons fas fa-car"></i></a>-->
            <!--<a class="box-s btn w-1-4 vh-m" href="/eletrical">Eletrical Parts<br><i class="icons fas fa-car"></i></a>-->
            <!--<a class="box-s btn w-1-4 vh-m" href="/transmission">Transmission Parts<br><i class="icons fas fa-car"></i></a>-->
            <div class="box-s btn w-1-4 vh-s search">show data<br><i class="icons fas fa-car"></i></div>


          </div>
        </div>
        <div class="tagName fl-l w-1-1"></div>

      </center>
    </main>
  </div>

</bodY>

{{template "footer"}}